/** biome-ignore-all lint/suspicious/noUnknownAtRules: <TODO> */
@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient {
	height: fit-content;
	width: 100%;
	z-index: 3;
	max-width: 640px;
	background-image:
		radial-gradient(at 27% 37%, hsla(215, 98%, 61%, 1) 0px, transparent 0%),
		radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
		radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
		radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
		radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
		radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
		radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
	position: absolute;
	content: "";
	filter: blur(100px) saturate(150%);
	top: 80px;
	opacity: 0.15;
}

@layer base {
	:root {
		--background: #e6eef6;
		--foreground: #212529;
		--radius: 0.5rem;

		--primary: #ccd8e3;
		--primary-foreground: #212529;

		--secondary: #aebac7;
		--secondary-foreground: #212529;
	}

	[data-theme="dark"] {
		--background: #334155;
		--foreground: white;
		--radius: 0.5rem;

		--primary: #475569;
		--primary-foreground: white;

		--secondary: #6b7280;
		--secondary-foreground: white;
	}

	body {
		@apply bg-background text-foreground antialiased;
	}
}

.app {
	@apply relative z-10 flex max-w-7xl flex-col items-center justify-center px-6 py-6 sm:px-16;
}

.dynamic_text {
	@apply text-xs subpixel-antialiased sm:text-sm md:text-base lg:text-lg xl:text-xl;
}

.dynamic_text_lg {
	@apply text-sm subpixel-antialiased sm:text-base md:text-lg lg:text-xl xl:text-2xl;
}

.dynamic_text_xl {
	@apply text-base subpixel-antialiased sm:text-lg md:text-xl lg:text-2xl xl:text-3xl;
}

.orange_gradient {
	@apply dynamic_text bg-gradient-to-r from-amber-500 via-orange-600 to-yellow-500 bg-clip-text text-transparent;
}

.orange_gradient:hover {
	@apply from-amber-400 to-yellow-400;
}

.green_gradient {
	@apply dynamic_text bg-gradient-to-r from-green-400 to-green-500 bg-clip-text text-transparent;
}

.blue_gradient {
	@apply dynamic_text bg-gradient-to-r from-blue-600 to-cyan-600 bg-clip-text text-transparent;
}

.gray_bg_gradient {
	@apply dynamic_text bg-gradient-to-r from-gray-700 via-gray-500 to-gray-400 opacity-90;
}

.box {
	@apply rounded-lg border border-gray-300 p-4;
}

.paper {
	@apply rounded-lg p-4 shadow-xl;
}

.header_nav {
	@apply fixed left-0 top-0 z-50 flex;
}

.bottom_nav {
	@apply gray_bg_gradient fixed bottom-4 left-2 right-2 mx-auto flex max-w-4xl justify-around rounded-b-xl rounded-t-xl py-1 lg:py-2 xl:py-4 text-white;
}

.bottom_nav_link_container {
	@apply flex select-none flex-col items-center rounded-xl px-1 py-1 hover:bg-slate-700 hover:text-lime-300 hover:ring-2 lg:px-4 xl:px-6 lg:py-2 xl:py-4;
}

.bottom_nav_link_selected {
	@apply flex select-none flex-col items-center rounded-xl bg-slate-700 px-1 py-1 text-lime-300 ring-2 lg:px-4 xl:px-6 lg:py-2 xl:py-4;
}
